section {
  height: 50vh;
  overflow-y: auto;
  width: max-content;
  margin: 0 auto;
  padding-right: 0.5rem;
}

.task-container {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-radius: 8px;
  width: 300px;
  margin: 0.75rem auto;

  .btn {
    background-color: transparent;
    padding: 0 0.8rem;
    height: 36px;
    color: #ff0000;
  }
  .btn:hover {
    border-color: #ff0000;
  }
}
